/* dark background with matrix green text. */
body { 
    margin: 0; 
    background-color: #0d0208; 
    color: #00ff41; 
    font-family: 'Share Tech Mono'; 
    
}

/* top green bar. flex pushes the x and back buttons to the edges */
.window-bar { 
    background-color: #00ff41; 
    color: black; 
    padding: 10px 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

/* top buttons */
.win-btn { 
    text-decoration: none; 
    color: black; 
    font-family: 'Press Start 2P'; 
    font-size: 1.2rem; 
}

h1 { 
    font-family: 'Press Start 2P'; 
    font-size: 1.5rem; 
    margin: 0; 
}

/* the main box holding everything. gave it a little green glowing shadow */
.terminal-container { 
    max-width: 800px; 
    margin: 40px auto; 
    border: 4px solid #00ff41; 
    padding: 25px; 
    background-color: rgba(0, 0, 0, 0.85); 
    box-shadow: 0 0 20px rgba(0, 255, 65, 0.2);
}

/* centers the connecting text */
.status-msg {
    text-align: center;
}

/* the line across the middle */
hr {
    border: 1px dashed #00ff41; 
    margin: 30px 0;
}

/* the form inputs. transparent background so the grid shows through */
input, textarea { 
    width: 100%; 
    background-color: transparent; 
    border: 2px solid #00ff41; 
    color: #00ff41; 
    padding: 12px; 
    font-family: 'Share Tech Mono'; 
    margin-bottom: 15px; 
    /* keeps the borders from stretching the box past 100% wide */
    box-sizing: border-box; 
    outline: none;
}

/* the submit button. big and green */
button { 
    width: 100%; 
    background-color: #00ff41; 
    color: black; 
    border: none; 
    padding: 15px; 
    font-family: 'Press Start 2P'; 
    font-size: 1rem;
    cursor: pointer; 
}

/* turns white on hover */
button:hover {
    background-color: white;
}

/* the guestbook messages. gave them a green border on the left side */
.entry { 
    border-left: 4px solid #00ff41; 
    padding-left: 15px; 
    margin-top: 20px; 
}

.user-name { 
    font-weight: bold; 
    color: white; 
}

/* big back button at the bottom */
.big-back-btn { 
    display: block; 
    width: 250px; 
    margin: 40px auto; 
    background-color: black; 
    border: 4px solid #00ff41; 
    padding: 15px; 
    text-decoration: none; 
    color: #00ff41; 
    text-align: center; 
    font-family: 'Press Start 2P'; 
}

/* flips colors on hover */
.big-back-btn:hover {
    background-color: #00ff41;
    color: black;
}