/* space background gif. fixed makes it stay put when you scroll */
body {
    margin: 0;
    font-family: 'Share Tech Mono';
    background-color: black;
    color: black; /* making sure text inside the white boxes stays black */
    
    /* the galaxy gif */
    background-image: url('https://usagif.com/wp-content/uploads/gif/outerspace-70.gif');
    background-size: cover;
    background-attachment: fixed; 
}

/* top white bar. flex keeps the buttons pushed to the sides */
.header {
    background-color: white;
    border-bottom: 5px solid red;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.logo {
    font-family: 'Bangers';
    font-size: 48px;
    margin: 0;
    letter-spacing: 2px;
}

/* that red breaking news bar across the top. perfectly centered */
.ticker-wrap {
    background-color: red;
    color: yellow;
    font-family: 'Black Ops One';
    text-align: center; 
    padding: 15px;
    border-bottom: 2px solid white;
}

.ticker-text {
    font-size: 24px;
}

/* puts the news blocks side by side. wrap makes them stack on phones */
.news-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

/* makes the main story take up most of the space */
.main-article {
    flex: 2; 
    min-width: 300px;
}

/* sidebar takes up whatever space is left */
.sidebar {
    flex: 1; 
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* the actual white boxes for the news. gave them that cool retro block shadow */
.card {
    background-color: white;
    border: 4px solid black;
    padding: 20px;

}


/* making the text and emojis inside the boxes look right */
.article-img {
    font-size: 64px;
    text-align: center;
    background-color: #222222;
    padding: 20px;
}

.date {
    color: gray;
    font-size: 14px;
}

.headline {
    font-family: 'Bangers';
    font-size: 40px;
    color: #d32f2f; /* dark red */
    line-height: 1;
    margin: 10px 0;
}

.sub-head {
    font-family: 'Bangers';
    font-size: 28px;
    color: blue;
    margin: 0 0 10px 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* centering the big button at the bottom */
.footer { 
    text-align: center; 
    margin-bottom: 50px; 
}

/* the back to space button */
.big-back-btn {
    display: inline-block;
    background-color: black;
    color: white;
    border: 3px solid white;
    padding: 15px 40px;
    font-family: 'Black Ops One';
    text-decoration: none;
    font-size: 20px;
}

/* flips colors when hovering */
.big-back-btn:hover { 
    background-color: white; 
    color: black; 
}